html{
    box-sizing: border-box;
}
  *,
  *:before,
  *:after{
    box-sizing: inherit;
    color: black;
    margin: 0 auto;
}
.clearfix::after{
    content: '';
    display: block;
    clear: both;
}
body{
    margin: 0;
    background-color: #ffffff;
    font-family: 'Open Sans', sans-serif;
}
.container{

}
.wrapper{
    margin: 1rem auto;
    width: 95%;
    background-color: none;
    padding: 1rem;
}
img{
    width: 100%;
    height: auto;
}
header{
    background-color: #222222;
    padding: 1rem;
    text-align: center;
}
ul{
    list-style-type: none;
}
ul li{
    margin-bottom: 1rem;
}
.nav-buttons, a:visited{
    text-decoration: none;
    color: #c78c06;
}
a:hover, a:active{
    text-decoration: underline;
}
.responsive-image{
    width: 100%;
    margin-bottom: -1rem;
}
#star-logo{
    max-width: 10%;
}
h1{
    margin: 1rem 0;
    font-size: 3rem;
    font-weight: bold;
}
h2{
    margin: 0 0 1rem;
    font-size: 2rem;
    font-weight: bold;
}
#about-us-text{
    margin: 2rem 0 1rem;
}
h3{
    margin: 1rem 0;
    font-size: 1.5rem;
}
h4{
    margin: -1rem 0 0 ;
    font-size: 0.75rem;
}
p{
    margin-bottom: 2rem;
    font-size: .8rem;
}
.banner-image{
    width: 100%;
    position: absolute;
}
.banner-forground{
    position: relative;
    background-color: rgba(0, 0, 0, 0.385);
}
.light-text{
    color: white;
}
.services-buttons{
    padding: 1rem;
    background-color: #222;
    color: white;
}
.light-carets{
    font-size: 1.5rem;
    padding: 0.25rem;
    color: white;
}
.about-us{
    background-color: #ffe6ac;
}
.text-background{
    background-color: #ffe6ac;
    margin: 0;
    padding: 1rem 1rem 2rem;
    border: 1rem;
}
.paper-boats{
    width: 100%;
}
/* .our-team-line{
    color: #976a02;
    background-color: #976a02;
} */
hr{
    height: 1px;
    background-color: #c78c06;
    border: none;
}
.team-dark-text{
    padding-top: 1rem;
}
input[type=text]{
    width: 100%;
    padding: 0.2rem;
    margin: 0.5rem 0 0.5rem;
    border: 1px solid #ccc;
}
/* formats "Message" with proper sizing and removing the resize */
textarea{
    width: 100%;
    padding: 2.5rem;
    margin: 0.5rem 0 0.5rem;
    resize: none;
}
/* formats "Send" button */
input[type=submit]{
    padding: 5px;
    margin: auto;
    display: inline-block;
    border: none;
    background-color: #222;
    color: #c78c06;
}
table {
    border-collapse: collapse;
    width: 100%;
}
th{
    background-color: #ffe6ac;
}
th, td{
    border: 1px solid #999;
    padding: 0.5rem;
    text-align: left;
  }
.map iframe{
    border: 0;
    width: 100%;
    height: 20rem;
}
footer{
    background-color: #222;
}
.footer-text{
    color: #c78c06;
}
.footer-link{
    text-decoration: underline;
}