/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* end of css reset and start of code: */
html{
    box-sizing: border-box;
}
  *,
  *:before,
  *:after{
    box-sizing: inherit;
    margin: 0 auto;
}
.clearfix::after{
    content: '';
    display: block;
    clear: both;
}
body{
    margin: 0;
    background-color: #ffffff;
    font-family: 'Open Sans', sans-serif;
}
/* defines the clear/white margins around the entire page */
.wrapper{
    margin: 0.8rem;
    width: 95%;
    background-color: transparent;
}
header{
    background-color: #222222;
    padding: 1rem;
}
header nav{
    text-align: center;
}
/* creates the home portion of the navigation */
#nav-active{
    display: block;
    color: #222;
    background-color: #c78c06;
    padding-top: 2rem;
    padding-bottom: 1rem;
    margin-bottom: -1rem;
}
.star-background{
    background-color: #c78c06;
}
ul{
    list-style-type: none;
}
ul li{
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}
.nav-buttons{
    text-decoration: none;
    color: #c78c06;
}
a:hover, a:active{
    text-decoration: underline;
}
/* creates search section with flex in order to display on one row */
.form-area{
    display: flex;
}
/* creates search bar */
.search-bar{
    font-size: 1rem;
    border: none;
    align-items: stretch;
}
/* creates search button */
.search-button{
    background: #ddd;
    font-size: 1rem;
    color: #c78c06;
    border: none;
    cursor: pointer;
    background-color: transparent;
    border-style: solid;
}
/* creates responsive images */
.responsive-image{
    width: 100%;
    height: auto;
    margin-bottom: -1rem;
}
/* defines all text properties: h1, h2, h3, h4 and p */
h1{
    margin: 1rem 0;
    font-size: 3rem;
    font-weight: bold;
}
h2{
    margin: 0 0 1rem;
    font-size: 1.8rem;
    font-weight: bold;
}
h3{
    margin: 1rem 0;
    font-size: 1.2rem;
    font-weight: bold;
}
h4{
    margin:  -0.5rem 0 0.5rem;
    font-size: 0.75rem;
    font-weight: bold;

}
p{
    padding-bottom: 1rem;
    font-size: .7rem;
    line-height: normal;
}
/* creates the office background spanning the entire div */
.banner{
    background-image: url(../images/main-banner.jpg);
    background-size: cover;
    padding: 2rem 0 2rem;
}
/* creates the forground of dark semi-transparent background and text */
.banner-forground{
    width: 100%;
    position: relative;
    background-color: rgba(0, 0, 0, 0.385);
    margin: 0;
    padding: 1rem 1rem 2rem;
    border: 1rem;
}
/* targets the p tag of the div */
#banner-light-text{
    padding-bottom: 2rem;
}
/* stules the button for the banner section */
#banner-button-style{
    padding: 1rem;
    background-color: #c78c06;
    color: #222;
}
/* adjusts margins for the pinp pong table image */
#pong-table-img{
    margin-top: 1rem;
}
/* sizes the about us section */
#about-us-text{
    margin: 2rem 0 1rem;
}
.about-us{
    background-color: #ffe6ac;
    margin-top: -1rem;
}
/* targets all text that is supposed to be white */
.light-text{
    color: white;
}
/* targets all buttons within the services section of the page */
.services-buttons{
    padding: 1rem;
    background-color: #222;
    color: white;
    text-decoration: none;
}
/* targets all caret icons that are supposed to be white */
.light-carets{
    font-size: 1.5rem;
    padding: 0.25rem;
    color: white;
}
/* targets the background section of our services */
.text-background{
    background-color: #ffe6ac;
    margin: 0;
    padding: 1rem 1rem 2rem;
    border: 1rem;
}
/* targets the our vision section with background images and formatting */
.paper-boats{
    width: 100%;
}
.our-vision{
    background-image: url(../images/vision.jpg);
    background-size: cover;
    background-position-y: center;
    padding: 2rem 0 2rem;
}
.our-vision-button{
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.385);
    border: 1px solid #c78c06;
    color: white;
    margin-top: 7rem;
}
/* creates horizontal rules for both team members*/
hr{
    height: 1px;
    background-color: #c78c06;
    border: none;
}
/* adds padding for the text */
.team-dark-text{
    padding-top: 1rem;
}
/* targets input fields for full name and email */
input[type=text]{
    width: 100%;
    padding: 0.2rem;
    border: 1px solid #ccc;
}
/* overrides margin */
input[name=full-name]{
    margin: 0.5rem 0 0.5rem;
}
input[name=email]{
    margin: 0.5rem 0 0.5rem;
}
/* formats message section */
.form-section{
    font-size: 0.8rem;
}
/* formats "Message" with proper sizing and removing the resize */
textarea{
    width: 100%;
    padding: 2.5rem;
    margin: 0.5rem 0 0.5rem;
    resize: none;
    border: 1px solid #ccc;
}
/* formats "Send" button */
input[type=submit]{
    padding: 5px;
    margin: auto;
    display: inline-block;
    border: none;
    background-color: #222;
    color: #c78c06;
}
/* formats the table  */
table {
    border-collapse: collapse;
    width: 100%;
}
th{
    background-color: #ffe6ac;
}
th, td{
    border: 1px solid #999;
    padding: 0.5rem;
    text-align: left;
}
/* creates sizing for the google map */
.map iframe{
    border: 0;
    width: 100%;
    height: 20rem;
}
/* formats footer section */
footer{
    background-color: #222;
}
.footer-text-top{
    padding-top: 1rem;
}
.footer-text{
    color: #c78c06;
}
.footer-link{
    text-decoration: underline;
}
/* creates desktop view */
@media screen and (min-width: 760px){
    *{
        margin:0;
        padding: 0;
      }
    .star-background{
        background-color: transparent;
    }
    /* header{
        align-items: center;
    } */
    nav{
        float: none;
    }
    ul{
        padding-top: 1rem;
    }
    ul li{
        display: inline-block;
        margin-left: 1rem;
    }
    #nav-search{
        float: right;
    }
    .container{
        display: grid;
        height: 100vh;
        grid-template-columns: repeat(6, 1fr);
    }
    /* .container div{
        max-width: 1200px;
    } */
    header {
        grid-column: 1 / span 6;
        grid-row: 1;
    }
    .grid-1 {
        grid-column: 1 / span 6;
        grid-row: 2;
    }
    .grid-2{
        grid-column: 1 / span 6;
        grid-row: 3;
    }
    .grid-3{
        grid-column: 1 / span 3;
        grid-row: 4;
    }
    .grid-4{
        grid-column: 4 / span 3;
        grid-row: 4;
    }
    .grid-5{
        grid-column: 1 / span 2;
        grid-row: 5;
    }
    .grid-6{
        grid-column: 3 / span 2;
        grid-row: 5;
    }
    .grid-7{
        grid-column: 5 / span 2;
        grid-row: 5;
    }
    .grid-8{
        grid-column: 1 / span 6;
        grid-row: 6;
    }
    .our-team{
        grid-column: 1 / span 6;
        grid-row: 7;
        display: flex;
        flex-wrap: wrap;
    }
    /* .stack-8 .block:nth-child(1){
        flex-basis: calc(25% - 4px);
      }
      .stack-8 .block:nth-child(2){
        flex-basis: calc(75% - 4px);
      }
      .stack-8 .block:nth-child(3), .stack-8 .block:nth-child(4){
        flex-basis: calc(50% - 4px);
      } */
    /* .grid-9{
        grid-column: 1 / span 3;
        grid-row: 7;
    }
    .grid-10{
        grid-column: 4 / span 3;
        grid-row: 7;
    }
    .grid-11{
        grid-column: 4 / span 3;
        grid-row: 8;
    }
    .grid-12{
        grid-column: 4 / span 3;
        grid-row: 8;
    } */
    .grid-13{
        grid-column: 1 / span 3;
        grid-row: 9;
    }
    .grid-15{
        grid-column: 4 / span 3;
        grid-row: 9;
    }
    .grid-14{
        grid-column: 1 / span 6;
        grid-row: 10;
    }
    footer{
        grid-column: 1 / span 6;
        grid-row: 10;
    }
    
    /* .container{
        background-color: transparent;
        display: grid;
        max-width: 40%;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(9, 1fr);
        grid-template-rows: auto;
        box-sizing: border-box;
    }
    .wrapper{
        margin: 5rem;
        width: 95%;
        background-color: transparent;
    }
    .container > div {
    
    } */
    /* }
    .grid-1{
        grid-column: span 6;
    }
    .grid-2{
        grid-column: span 6;
        grid-row: 2;
    }
    .grid-3{
        grid-column: span 3;
        grid-row: 3;
    }
    .grid-4{
        grid-column: 4 / span 3;
        grid-row: 3;
    }
    .grid-5{
        grid-column: span 2;
        grid-row: 4;
    }
    .grid-6{
        grid-column: 3 / span 2;
        grid-row: 4;
    }
    .grid-7{
        grid-column: 5 / span 2;
        grid-row: 4;
    }
    .grid-8{
        grid-column: span 6;
        grid-row: 5;
    } */
    /* .grid-9{
        grid-column: span 3;
        grid-row: 6;
    }
    .grid-10{
        grid-column: 4 / span 3;
        grid-row: 6;
    }
    .grid-11{
        grid-column: span 3;
        grid-row: 7;
    }
    .grid-12{
        grid-column: 4 / span 3;
        grid-row: 7;
    }
    .grid-13{
        grid-column: span 3;
        grid-row: 8;
    }
    .grid-14{
        grid-column: 4 / span 3;
        grid-row: 8;
    }
    .grid-15{
        grid-column: span 6;
        grid-row: 9;
    } */
}